.register{
    background-color: rgba(35, 153, 19, 0.678);
    border-radius: 5px;
    border-color: rgba(35, 153, 19, 0.678);
    margin-right: 10px;
    color: white;
    font-size: 1.3rem;
}
.login{
    background-color: rgba(76, 73, 214, 0.712);
    border-radius: 5px;
    border-color: rgba(76, 73, 214, 0.712);
    margin-top: 10px;
    color: white;
    font-size: 1.3rem;
}